{% extends 'base.html' %}

{% block title %}This is about{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="container">
                <div class="preview-row">

                    <a class="hover-like-lightbox mockup-shadow" href="/html-templates/preview/construction-company-leader-554833?device=desktop" rel="nofollow" target="_blank">
                        <picture>
                                <source srcset="https://images01.nicepage.com/page/55/48/html-template-spreview-554833.webp" type="image/webp" media="(max-width: 450px)">
                                <source srcset="https://images01.nicepage.com/page/55/48/html-template-spreview-554833.jpg" type="image/jpeg" media="(max-width: 450px)">
                            <source srcset="https://images01.nicepage.com/page/55/48/html-template-preview-554833.webp" type="image/webp">
                            <source srcset="https://images01.nicepage.com/page/55/48/html-template-preview-554833.jpg" type="image/jpeg">
                            <img alt="Construction company leader HTML Template" class="media-image img-responsive noversion" height="3529" src="https://images01.nicepage.com/page/55/48/html-template-preview-554833.jpg" style="" width="750">
                        </picture>
                    </a>

                </div>
                
                    <style>
    .small-video {
        display: none;
    }
    
    @media (max-width: 450px) {
        .small-video {
            display: inline-block;
        }
        .big-video {
            display: none;
        }
    }
</style>

                </div>
            </div>
{% endblock body %}